body {
  min-width: 200px;
  overflow-x: hidden;
  padding-left: 20px;
  padding-bottom: 15px; }

img {
  margin: 5px;
  border: 2px solid black;
  vertical-align: middle;
  width: 75px;
  height: 75px; }

ul.domains {
  list-style-type: none;
  padding-left: 5px;
  margin-right: 15px; }
  ul.domains li {
    padding: 5px 0 5px 5px;
    margin-left: -5px;
    border-radius: 3px; }
    ul.domains li:hover {
      background: #eee; }
