body {
	margin-bottom: 70px;
}

a.panel-heading-link {
	color: black;
}

.add-project-group {
	margin-bottom: 20px;
}

.ng-hide {
	display: none !important;
}

a.rem-proj {
  margin-left: 15px;
}

.alert.alert-small {
	margin-top: 5px;
	padding: 5px 10px;
}

#save-success {
	margin-left: 15px;;
}

.is-hidden {
	display: none;
}

.examples input {
	font-size: 10px;
}

.examples input:nth-child(1) {
	width: 4em;
}

.examples input:nth-child(1) {
	width: 10em;
}