body {
	margin-bottom: 70px;
}

a.panel-heading-link {
	color: black;
}

.panel-body .form-group .form-control {
	margin-bottom: 10px;
}

.panel-body .form-group .form-control:last-child {
	margin-bottom: 0;
}

.add-project-group {
	margin-bottom: 20px;
}

.ng-hide {
	display: none !important;
}

a.rem-proj {
  margin-left: 15px;
}

.alert.alert-small {
	margin-top: 5px;
	padding: 5px 10px;
}

#save-success {
	margin-left: 15px;;
}

.is-hidden {
	display: none;
}