body {
  min-width: 200px;
  overflow-x: hidden;
  padding: 5px 10px 15px;  
}

img {
  margin: 5px;
  border: 2px solid black;
  vertical-align: middle;
  width: 75px;
  height: 75px; 
}

.list-group {
  margin-left: -11px;
  margin-right: -11px;
}

.list-group-item {
  border-radius: 0 !important;
  border-radius: 0 !important;
}

#settings:focus {
  outline: none;
}

#settings {
  text-decoration: none;
}
