<!DOCTYPE html>
<html lang="en" ng-app="angOptions" ng-csp>
  <head>
    <meta charset="utf-8">
    <title>Domain Switcher</title>
    <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate, max-age=0">
    <!-- <link href="assets/lib/bootstrap/css/bootstrap.css" rel="stylesheet"> -->
    <link href="css/bootstrap-3.0.2.min.css" rel="stylesheet">
    <link href="css/options.css" rel="stylesheet">
  </head>
  <body>

    <header class="container">
      <div id="heading" class="masthead">
        
        <h2>Domain Switcher <small>Settings</small></h2>
      </div>

      <p>
        Domain Switcher allows you to organize the environments (e.g. dev, uat, prod) for the various pojects you work on. Simply create a record below for your project and enter the domains for the various urls you work with. We'll do the rest, and you'll be able to simply switch between environments by clicking the arrow icon in your address bar when you are on a page that matches a URL you entered.
      </p>
   </header>
   
   <section class="main container" ng-controller="ProjectsCtrl">
   	
   	
    <div class="row">
      <div class="col-md-12">

        <h3>Projects</h3>

        <div class="form-group">
          <button class="btn btn-primary" role="button" ng-click="addProject()">
            <span class="glyphicon glyphicon-plus-sign"></span> Add project
          </button>
        </div>

        <div class="projects-list">
            <div ng-repeat="project in projects" class="panel panel-primary" ng-class="{'panel-default': project.enabled}">
                <div class="panel-heading">
                    {{project.name}}
                    <a href="#" class="panel-heading-link" ng-click="removeProject($index)"><span class="glyphicon glyphicon-remove pull-right"></span></a>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div ng-repeat="env in project.envs" class="col-md-3">
                            <div class="form-group">
                                <input type="text" class="form-control" ng-model="env.url">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <button type="button" class="btn btn-primary" ng-click="addEnv(project)" role="button">
                                    <span class="glyphicon glyphicon-plus-sign"></span> Add env
                                </button>
                            </div>
                        </div>
                    </div> <!-- row -->
                </div> <!-- panel body -->
            </div> <!-- panel -->
        </div>


      </div> <!-- col-md-12 -->
    </div> <!-- row -->
   	
    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-primary" ng-click="save()" role="button">
                <span class="glyphicon glyphicon-save"></span>&nbsp;&nbsp;Save
            </button>
        </div>
    </div>
 
   
</section>
   
  
    <!-- 3rd party -->
    <script src="js/vendor/jquery-2.0.3.min.js"></script>
    <script src="js/vendor/angular.min.js"></script>
    <script src="js/options.js"></script>

  </body>
</html>
