<!doctype html>
<html ng-app="angOptions" ng-csp>
  <head>
    <title>Domain Switcher Extension</title>
    <link href="css/bootstrap-3.0.2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/popup.css">
  </head>
  <body ng-controller="UrlsCtrl">

    <h4>Switch Domain</h4>
    <ul class="domains">
      <li ng-repeat="env in envs" ng-click="selectEnv(env)">{{env}}</li>
    </ul>

    <hr>
    
    <a id="settings" href="#" ng-click="loadSettings()">Settings</a>

    <script src="js/vendor/jquery-2.0.3.min.js"></script>
    <script src="js/vendor/jsuri-1.1.1.min.js"></script>
    <script src="js/vendor/angular.min.js"></script>
    <script src="js/popup.js"></script>

  </body>
</html>

