<!DOCTYPE html>
<html lang="en" ng-app="angOptions" ng-csp>
<head>
    <meta charset="utf-8">
    <title>Domain Switcher</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="styles/options.css" rel="stylesheet">
</head>
<body>

<header class="container">
    <div id="heading" class="masthead">

        <h2>Domain Switcher
            <small>Settings</small>
        </h2>
    </div>

    <p>
        Domain Switcher allows you to organize the environments (e.g. dev, uat, prod) for the various pojects you work
        on. Simply create a record below for your project and enter the domains for the various urls you work with.
        We'll do the rest, and you'll be able to simply switch between environments by clicking the arrow icon in your
        address bar when you are on a page that matches a URL you entered.
    </p>

    <p>It is recommended you leave off "http://" as it will be ignored anyway.</p>

    <p>
        A Template can be used to quickly create new projects.
        Use <code>$</code> as a placeholder for the main domain, or <code>$$</code> for the main domain
        without <code>www.</code>.
        When you create a new project and a template is defined, you are prompted for the main domain and the other envs will be
        completed according to your schema. You can also use the "+ Add This" button in the drop down menu
        of any web page, to quickly add environments based on the current domain.
    </p></p>
</header>

<section class="main container" ng-controller="ProjectsCtrl" ng-init="init()">

    <div class="row">
        <div class="col-md-12">

            <h3>Projects</h3>

            <div class="form-group add-project-group">
                <button class="btn btn-primary btn-sm" role="button" ng-click="addProject()">
                    <span class="glyphicon glyphicon-plus-sign"></span> Add project
                </button>

                <button class="btn btn-info btn-sm" role="button" data-toggle="modal"
                        ng-click="draftProject()"  ng-if="getTemplate()">
                    <span class="glyphicon glyphicon-plus-sign"></span> Quick add project
                </button>
            </div>

            <div class="projects-list">
                <div ng-repeat="project in projects | filter: {isTemplate: false}" class="panel panel-default"
                     ng-class="{'panel-default': project.enabled}">
                    <div class="panel-heading" ng-mouseenter="project.showEdit = true"
                         ng-mouseleave="project.showEdit = false">

                        <span class="panel-title" ng-hide="project.editMode">{{project.name}}</span>

                        <span ng-show="project.editMode">
                            <input type="text" placeholder="New Project Name" ng-model="project.name"
                                   ng-blur="doneEditName(project)"/>
                        </span>

                        <span class="pull-right panel-right-heading">
                        <a href="#" class="panel-heading-link" ng-show="project.showEdit  && !project.editMode"
                           ng-click="editName(project)"><span class="glyphicon glyphicon-edit"></span> edit header</a>

                        <a href="#" class="panel-heading-link rem-proj" ng-click="removeProject(project)"><span
                                class="glyphicon glyphicon-remove"></span></a>
                    </span>


                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div ng-repeat="env in project.envs" class="col-sm-4 col-md-3">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Eg: localhost:3000"
                                           ng-model="env.url">
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-3">
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary btn-sm" ng-click="addEnv(project)"
                                            role="button">
                                        <span class="glyphicon glyphicon-plus-sign"></span> Add env
                                    </button>
                                </div>
                            </div>
                        </div> <!-- row -->
                    </div> <!-- panel body -->
                </div> <!-- panel -->

                <div ng-repeat="project in projects | filter: {isTemplate: true}"
                     class="panel panel-info project-template"
                     ng-class="{'panel-default': project.enabled}">
                    <div class="panel-heading">
                        <h3 class="panel-title">Quick-add Template</h3>

                        (Use <code>$</code> as a placeholder for the main domain, or <code>$$</code> for the main domain
                        without <code>www.</code>)

                        <span class="pull-right panel-right-heading">
                        <a href="#" class="panel-heading-link rem-proj" ng-click="removeProject(project)"><span
                                class="glyphicon glyphicon-remove"></span></a>
                        </span>

                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div ng-repeat="env in project.envs" class="col-sm-4 col-md-3">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="{{ templateSamples[$index] }}"
                                           ng-model="env.url">
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-3">
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary btn-sm" ng-click="addEnv(project)"
                                            role="button">
                                        <span class="glyphicon glyphicon-plus-sign"></span> Add env
                                    </button>
                                </div>
                            </div>
                        </div> <!-- row -->
                    </div> <!-- panel body -->
                </div> <!-- panel -->
            </div>


        </div> <!-- col-md-12 -->
    </div> <!-- row -->

    <div class="row">
        <div class="col-md-8">
            <button type="button" class="btn btn-primary" ng-click="save()" role="button">
                <span class="glyphicon glyphicon-save"></span>&nbsp;&nbsp;Save
            </button>
            <span class="alert alert-success alert-small is-hidden" id="save-success">Save successful</span>
        </div>
        <div class="pull-right" ng-if="!getTemplate()">
            <button class="btn btn-info btn-sm" role="button" ng-click="addTemplate()">
                <span class="glyphicon glyphicon-book"></span> Define a project template
            </button>
        </div>
    </div>

    <!-- Modal Create from Template -->
    <div class="modal fade" id="draftModal" tabindex="-1" role="dialog" aria-labelledby="draftModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="draftModalLabel">Quick add project</h4>
                </div>
                <div class="modal-body">
                    <div class="panel panel-default project-template">
                        <div class="panel-heading">
                            Main Domain
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="text" class="form-control" placeholder="Eg: thisislive-example.com" ng-model="draftingProject.mainDomain"
                                        ng-change="updateDraft()"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default project-template">
                        <div class="panel-heading">
                            <span class="label label-info">Draft</span>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div ng-repeat="env in draftingProject.envs" class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="{{ templateSamples[$index] }}"
                                               ng-model="env.url">
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-3">
                                    <div class="form-group">
                                        <button type="button" class="btn btn-primary btn-sm" ng-click="addEnv(draftingProject)"
                                                role="button">
                                            <span class="glyphicon glyphicon-plus-sign"></span> Add env
                                        </button>
                                    </div>
                                </div>
                            </div> <!-- row -->
                        </div> <!-- panel body -->
                    </div> <!-- panel -->            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" ng-click="submitDraft()">Create project</button>
                </div>
            </div>
        </div>
    </div>

</section>

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="scripts/options.js"></script>

</body>
</html>


