<!DOCTYPE html>
<html lang="en" ng-app="angOptions" ng-csp>
  <head>
    <meta charset="utf-8">
    <title>Domain Switcher</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="styles/options.css" rel="stylesheet">
  </head>
  <body>

    <header class="container">
      <div id="heading" class="masthead">

        <h2>Domain Switcher <small>Settings</small></h2>
      </div>

      <p>
        Domain Switcher allows you to organize the environments (e.g. dev, uat, prod) for the various pojects you work on. Simply create a record below for your project and enter the domains for the various urls you work with. We'll do the rest, and you'll be able to simply switch between environments by clicking the arrow icon in your address bar when you are on a page that matches a URL you entered.
      </p>

      <p>It is recommended you leave off "http://" as it will be ignored anyway.</p>
   </header>

   <section class="main container" ng-controller="ProjectsCtrl">


    <div class="row">
      <div class="col-md-12">

        <h3>Projects</h3>

        <div class="form-group add-project-group">
          <button class="btn btn-primary btn-sm" role="button" ng-click="addProject()">
            <span class="glyphicon glyphicon-plus-sign"></span> Add project
          </button>
        </div>

        <div class="projects-list">
            <div ng-repeat="project in projects" class="panel panel-default" ng-class="{'panel-default': project.enabled}">
                <div class="panel-heading" ng-mouseenter="project.showEdit = true" ng-mouseleave="project.showEdit = false">

                    <span class="panel-title" ng-hide="project.editMode">{{project.name}}</span>

                    <span ng-show="project.editMode">
                        <input type="text" placeholder="New Project Name" ng-model="project.name" ng-blur="doneEditName(project)" />
                        <input type="button" ng-if="!project.isTemplate" ng-click="makeTemplate(project)" value="Make template" class="btn btn-xs">
                        <span ng-if="project.isTemplate">
                            <span class="label label-info">Template</span>
                            Use <code>$</code> as a placeholder for the live domain, or <code>$$</code> for the live domain without <code>www.</code>
                        </span>
                    </span>

                    <span class="pull-right panel-right-heading">
                        <a href="#" class="panel-heading-link" ng-show="project.showEdit  && !project.editMode" ng-click="editName(project)"><span class="glyphicon glyphicon-edit"></span> edit header</a>

                        <a href="#" class="panel-heading-link rem-proj" ng-click="removeProject($index)"><span class="glyphicon glyphicon-remove"></span></a>
                    </span>


                </div>
                <div class="panel-body">
                    <div class="row">
                        <div ng-repeat="env in project.envs" class="col-sm-4 col-md-3">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Eg: localhost:3000" ng-model="env.url">
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-3">
                            <div class="form-group">
                                <button type="button" class="btn btn-primary btn-sm" ng-click="addEnv(project)" role="button">
                                    <span class="glyphicon glyphicon-plus-sign"></span> Add env
                                </button>
                            </div>
                        </div>
                    </div> <!-- row -->
                </div> <!-- panel body -->
            </div> <!-- panel -->
        </div>


      </div> <!-- col-md-12 -->
    </div> <!-- row -->

    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-primary" ng-click="save()" role="button">
                <span class="glyphicon glyphicon-save"></span>&nbsp;&nbsp;Save
            </button>
            <span class="alert alert-success alert-small is-hidden" id="save-success">Save successful</span>
        </div>
    </div>


</section>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="scripts/options.js"></script>

  </body>
</html>
