<!doctype html>
<html ng-app="angOptions" ng-csp>
  <head>
    <title>Domain Switcher Extension</title>
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles/popup.css">
  </head>
  <body ng-controller="UrlsCtrl">

    <h4>Switch Domain</h4>
    <div class="list-group domains">
      <a ng-repeat="env in envs" ng-click="selectEnv(env.url, $event)" class="list-group-item" ng-class="{active: env.active}">{{env.url}}</a>
    </div>

    <div class="pull-right btn-group">
        <a id="settings" href="#" ng-click="loadSettings()"><span class="glyphicon glyphicon-wrench"></span> Options</a>
        <a id="addProject" href="#" ng-click="addProject()"><span class="glyphicon glyphicon-plus"></span> Add this</a>
    </div>
    <div class="clearfix"></div>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/jsuri/Uri.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="scripts/popup.js"></script>

  </body>
</html>

